:root {
	--headerFont: "Space-Grotesk", "Montserrat", sans-serif;
	--itemFont: "Inter", "Montserrat", sans-serif;
	--headerWeight: 700;
	--textWeight: 400;
}

body {
	margin: 0;
}

.app {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
}

/* TODO adicionar personalização de checkbox*/

.delete-button {
	background-color: #f6f1d1;
	border: none;
	border-radius: 2px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	outline: none;
}

.check-icon {
	background-color: transparent;
	border-radius: 50%;
	display: block;
	height: 10px;
	padding: 1px;
	width: 10px;
}

.content {
	margin: 0;
}

.form {
	display: flex;
	justify-content: center;
}

.form-button {
	background: #f6f1d1;
	border: 1px;
	cursor: pointer;
	font-family: var(--itemFont);
	font-weight: var(--textWeight);
	margin-left: 0.25rem;
	text-transform: uppercase;
}

.form-button:hover {
	background: rgba(246, 241, 209, 0.1);
	color: #f6f1d1;
}

.form-button,
.form-input {
	border-radius: 0;
	font-size: 0.75rem;
	padding: 0.75rem;
}

.form-input {
	background-color: #f6f1d1;
	border-color: rgba(255, 255, 255, 0.1);
	outline: none;
}

.list {
	list-style: none;
	padding: 0;
	width: 100%;
}

.task {
	background-color: rgba(255, 255, 255, 0.1);
	color: #f6f1d1;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	padding: 1rem 3rem;
}

.task.done .content {
	text-decoration: line-through;
}

.task.done .check-button {
	background-color: #46494c;
	color: #f6f1d1;
}

.task.done .check-icon {
	background-color: #0b2027;
}

.title {
	border-bottom: 1px solid rgba(246, 241, 209, 0.5);
	color: #f6f1d1;
	font-family: var(--headerFont);
	font-size: 1.5rem;
	font-weight: var(--headerWeight);
}

.todo-list {
	background-color: #0b2027;
	font-family: var(--itemFont);
	font-weight: var(--textWeight);
	min-height: 450px;
	min-width: 600px;
	padding: 1rem;
}

